<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{multimedia.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{multimedia.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/multimedias/add}" th:text="#{multimedia.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:if="${multimedias.empty}" th:text="#{multimedia.list.empty}" />
            <div th:if="${!multimedias.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{multimedia.id.label}" scope="col" />
                            <th th:text="#{multimedia.primary.label}" scope="col" />
                            <th th:text="#{multimedia.secondary.label}" scope="col" />
                            <th th:text="#{multimedia.isactive.label}" scope="col" />
                            <th th:text="#{multimedia.itemid.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="multimedia : ${multimedias}">
                            <td th:text="${multimedia.id}" />
                            <td th:text="${multimedia.primary}"/>
                            
                            <td th:text="${multimedia.secondary}" />
                            <td th:text="${multimedia.isactive}" />
                            <td th:text="${multimedia.itemid}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/multimedias/edit/{id}(id=${multimedia.id})}" th:text="#{multimedia.list.edit}" class="btn btn-sm btn-info" />
                                    <form th:action="@{/multimedias/delete/{id}(id=${multimedia.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button th:text="#{multimedia.list.delete}" type="submit" class="btn btn-sm btn-danger" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <div>
                    	<img src="${multimedia.primary}"/>
                    </div>
                    </tbody>
                    
                </table>
            </div>
        </div>
    </body>
</html>
